.mainbody
{
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.todo-list-maindiv
{
  background-color: white;
  width: 500px;
  height: 750px;
  border-radius: 5px;
}

.todo-task-input-div
{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;

}

#add-button
{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.tasks-list
{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  
}

.tasks-list li
{
  margin: 0px;
}
.task
{

}

.task-buttons
{
  display: flex;
  column-gap: 10px;
}